@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(251, 248, 248);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //border-color: transparent;
  background: transparent;
 z-index: 1000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  img {
    max-width: 100px;
    height: 50px;
    margin-top: 10px;
    display: inline-block;

  }
}

.list {
    float: right;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;

  .items {
    margin-left: 20px;

    a {
      color: #fff;
      text-decoration: none;
      padding: 5px 20px;
      border: 1px solid transparent;
      transition: background-color 0.5s ease, color 0.5s ease;

      &:hover {
        background-color: #1da065;
        color: #fff;
      }
    }
  }
}

.btn {
  display: none;
  background-color: #202021;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .list {
    flex-direction: column;
    height: auto;

    
  }

  .items:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 200px;
  }

  .items {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 10px;
    padding: 10px 0;

    a {
      color: #fff; /* Adjusted link color for visibility */
    }
  }

  .btn {
    display: block;
  }
}

  
      
  
